<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron" style="background: rgba(255,255,255,0.9)">
            <h4>新着ノボログ</h4>
            <div id="gym_comments">
              <%= render 'comments/index', comments: @comments, gym: @gym, user: @user %>
            </div>
            <div class="row justify-content-center">
                <%= paginate @comments %>
            </div>
        </div>
    </div>
</div>