<% if chat.user_id == current_user.id %>
  <div class="row justify-content-end">
    <div class="card">
      <p><%= chat.message %></p>
    </div>
  </div>
<% else %>
  <div class="row justify-content-start">
    <div class="card">
      <p><%= chat.message %></p>
    </div>
  </div>
<% end %>

