<div class="row">
    <div class="col-12">
        <div class="jumbotron" style="background: rgba(255,255,255,0.9)">
            <div class="text-center">
                <%= image_tag 'logo.png' %>
            </div>
            <div class="row justify-content-center">
                <div class=" title text-center">
                <p>初めていくジムがどんな雰囲気なのかわからず、気後れしてしまうことありませんか？</p>
                <p>ジムに行く前にKABESHIRUで検索すれば先輩クライマーのジムレビューが確認できます！</p>
                <p>また、今日はどのジムでどれだけ登ったか、今日完登できなかった課題はどれか・・・</p>
                <p>など、自分のトレーニング記録（ノボログ）もつけられます。</p>
                <p>KABESHIRUはクライマーライフをちょっぴり豊かにするサイトです。</p>
                </div>
            </div>
        </div>
    </div>
</div>