<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron" style="background: rgba(255,255,255,0.9)">
      <h1 class="display-4"><%= @gym.name %>の情報登録</h1>
      <hr class="my-4">
      <p>ボルダリングジム登録の協力をお願いします。</p>
      <p>入力項目が多数あるので、不明な箇所は未入力のままでも登録できます。</p>
      <p>一度ジムを登録した後は壁シルのユーザーなら誰でも情報を編集することができます。</p>
      <p>既に同じジムが登録されている場合は後から登録したページは削除されますのでご注意ください。</p>
    </div>
  </div>
</div>
<%= render "form", gym: @gym %>
