/*
 * THis is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'font-awesome-sprockets';
@import 'font-awesome';

.alert {
    color: #white;
    background-color: #28A745;
    text-align: center; 
}

ul {
    list-style: none;
}

body {
    background-image: image-url("bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bg{
    min-height: 100vh !important; 
    display: flex;
    flex-flow: column;
    padding-top: 150px;
    background: rgba(0,0,0,0.3);
    height:100%;
}

.row{
    margin-top: 20px;
}

.gym_comments{
    margin-top: 40px;
}

a, p{
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}

hr {
    grid-column: span 2;
    width: 100%;
}
.title{
    font-weight:700;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 20px;
}
.user_name{
    font-size: 11px;
    color: grey;
}
.table, th, td,{
    padding-top: 50px;
    width: 10vw;
    font-family: 'Roboto', sans-serif;
}

.info-btn{
    margin: 15px;
}
.card{
    margin-bottom: 20px;
}

.card-title{
    font-weight:700;
    font-family: 'Roboto', sans-serif;

}

footer{
    background-color: #353132;
}

.logo{
    color:#FFF;
    text-decoration:none;
    font-weight:700;
    font-size:30px;
}

.nav-item{
    letter-spacing: 3px;
    font-size:17px;
}

.name{
    color:white;
}

.address span , .menu span{
    color: #FFF; 
    font-weight: bold; 
    border-bottom: 1px solid #c7c7c7; 
    padding:10px 0px;
    display: block;
    font-size: 16px;
    letter-spacing: 3px;
}
 
.menu li a{
    color:#FFF;
    letter-spacing: 3px;
    text-decoration:none;
    font-size:14px;
}

.menu li{
    list-style: none;
}

.menu li a:hover{
    color: #da3e44;
}